Source: gnome-shell-extension-launch-new-instance
Section: gnome
Priority: optional
Maintainer: Marco Trevisan <marco@ubuntu.com>
Build-Depends: debhelper (>= 10),
               dh-translations,
               eslint <!nocheck>,
               libglib2.0-bin,
               node-chalk <!nocheck>,
               node-js-yaml <!nocheck>,
               node-strip-ansi <!nocheck>,
               libgettextpo-dev,
               gettext,
               sassc
Standards-Version: 4.1.1
Vcs-Git: https://gitlab.com/arcmenu/ArcMenu
Vcs-Browser: https://gitlab.com/arcmenu/ArcMenu
Homepage: https://gitlab.com/arcmenu/ArcMenu

Package: gnome-shell-extension-launch-new-instance
Architecture: all
Depends: gnome-shell,
         ${misc:Depends},
         ${shlibs:Depends},
         gnome-menus,
         gir1.2-gmenu-3.0
Description: ArcMenu is an application menu for GNOME Shell, designed to provide a more familiar user experience and workflow. This extension has many features, including various menu layout styles, GNOME search, quick access to system shortcuts, and much more!
