Source: gnome-shell-extension-user-theme
Section: gnome
Priority: optional
Maintainer: Marco Trevisan <marco@ubuntu.com>
Build-Depends: debhelper (>= 10),
               dh-translations,
               eslint <!nocheck>,
               libglib2.0-bin,
               node-chalk <!nocheck>,
               node-js-yaml <!nocheck>,
               node-strip-ansi <!nocheck>,
               libgettextpo-dev,
               gettext,
               sassc
Standards-Version: 4.1.1

Package: gnome-shell-extension-user-theme
Architecture: all
Depends: gnome-shell,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Support for custom themes in GNOME Shell
