Source: gnome-shell-extension-window-list
Section: gnome
Priority: optional
Maintainer: Marco Trevisan <marco@ubuntu.com>
Build-Depends: debhelper (>= 10),
               dh-translations,
               eslint <!nocheck>,
               libglib2.0-bin,
               node-chalk <!nocheck>,
               node-js-yaml <!nocheck>,
               node-strip-ansi <!nocheck>,
               libgettextpo-dev,
               gettext,
               sassc
Standards-Version: 4.1.1

Package: gnome-shell-extension-window-list
Architecture: all
Depends: gnome-shell,
         ${misc:Depends},
         ${shlibs:Depends},
Description: This GNOME Shell extension displays a window list at the bottom of the screen.
